#about {
  color: var(--main-black);
  height: auto;
  width: 100%;
  padding: var(--pad-top-bot) 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  overflow: hidden;
  font-family: var(--fontmain);
  background-color: var(--main-offwhite);
}

.aboutHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-image: url("/images/rocket.png");
  background-position: 51% 60%;
  background-size: 200%;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black);
  transform: translateX(-200px);
  opacity: 0%;
  transition: transform 1.5s var(--anim-slides), opacity 1.5s var(--anim-slides);
  margin: 10px 20px 10px 0;
}

.about-txt {
  width: 500px;
  transform: translateX(200px);
  opacity: 0%;
  transition: transform 1.5s var(--anim-slides), opacity 1.5s var(--anim-slides);
  margin: 10px 0px 10px 20px;
}

.about-txt.show {
  transform: translateX(0px);
  opacity: 100%;
}

.about-img.show {
  transform: translateX(0px);
  opacity: 100%;
}