#portfolio {
  padding: var(--pad-top-bot) 0;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-offwhite);
}

.portHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px dashed rgb(255, 0, 0); */
}

.portCon {
  /* border: 2px dashed rgb(0, 17, 255); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.portItem {
  /* border: 6px solid var(--main-blue); */
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 19px rgba(0, 0, 0, 0.1);
  transition-property: box-shadow, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.portA {
  /* border: 2px dashed blue; */
  width: 300px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portImg.behance {
  transform: scale(0.3) translate(0px, -40px);
}

.portImg.auto {
  transform: scale(0.3) translateY(0px);
}

.portImg.tomsart {
  transform: scale(0.18) translateY(470px);
}


.gradOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1;
}

.gradOverlay.gradB {
  height: 45%;
  background-color: var(--main-yellow);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(110%);
  z-index: 5;
  transition-property: background-color, transform, opacity;
  transition-timing-function: ease;
  transition-duration: 250ms;
}

.gradOverlay.gradA {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  height: 40%;
  background-color: var(--main-blue);
  transform: translateY(110%);
  z-index: 6;
  transition-property: background-color, transform, opacity;
  transition-timing-function: ease;
  transition-duration: 350ms;
}

.portText {
  position: absolute;
  z-index: 9;
  text-align: center;
  color: var(--main-white);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  transform: translate(0%, 1000%);
  transition: transform 360ms ease;
}

.workButtonsCon {
  /* border: 2px dashed red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 8;
  transform: translateY(230px);
  transition-property: transform;
  transition-duration: 410ms;
  transition-timing-function: ease;
}

.workButtons {
  margin: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 40px;
  z-index: 9;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  color: var(--main-white);
  background-color: rgb(41, 40, 38);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition-property: background-color;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

/* Hover states */
.portItem:hover {
  box-shadow: 1px 1px 19px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.portItem:hover .gradOverlay {
  opacity: 1;
  transform: translateY(1%);
}

.portItem:hover .portText {
  transform: translate(0%, 400%);
}

.portItem:hover .workButtonsCon {
  transform: translateY(130px);
}

.workButtons:hover {
  cursor: pointer;
  background-color: rgba(4, 4, 4, 1);
}