/* ---- Skills section start ---- */

#skills {
  padding: var(--pad-top-bot) 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow);
}

#skills h2 {
  text-align: center;
  display: block;
  width: 100%;
  font-family: var(--fontmain);
}

.softCon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: red 2px dashed; */
}

.softSize {
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: red 2px dashed; */
}

.skill-links {
  text-decoration: none;
  color: inherit;
}

.lang {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  background-color: white;
  margin: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  transition-duration: var(--card-dura);
  transition-property: transform box-shadow;
}

.lang:hover {
  box-shadow: -3px 3px 14px 1px rgba(0, 0, 0, 0.3);
}

.lang-odds:hover {
  transform: scale(1.25);
}

.lang-evens:hover {
  transform: scale(1.25);
}

.lang > svg {
  position: absolute;
  fill: var(--black);
  transform: translateY(0px) scale(0.8);
  transition-duration: var(--card-dura);
  transition-property: transform, fill;
}

.lang.figma > svg path {
  transition: fill var(--card-dura), transform var(--card-dura);
}

.lang:hover svg {
  transform: translateY(-25px) scale(0.5);
}

/* Programming icons color hovers */
.lang:hover.psd > svg {
  fill: #004c94;
}
.lang:hover.ae > svg {
  fill: #36007e;
}
.lang:hover.xd > svg {
  fill: #460437;
}

.lang:hover.figma > svg .st0 { fill: #f37264; }
.lang:hover.figma > svg .st1 { fill: #46b8e9; }
.lang:hover.figma > svg .st2 { fill: #8062aa; }
.lang:hover.figma > svg .st3 { fill: #f04f23; }
.lang:hover.figma > svg .st4 { fill: #47ba7e; }

.lang:hover.rive > svg {
  fill: #000000;
}
.lang:hover.c4d > svg {
  fill: #333996;
}
.lang:hover.html > svg {
  fill: #f04736;
}
.lang:hover.css > svg {
  fill: #2945f5;
}
.lang:hover.js > svg {
  fill: #f5c702;
}

span {
  position: absolute;
  width: 0%;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(80px);
  transition-duration: var(--card-dura);
  transition-property: transform, width, background-color;
}

.lang:hover span {
  transform: translateY(8px);
  width: 55%;
  background-color: rgba(0, 0, 0, 0.06);
}

.lang p {
  position: absolute;
  font-size: 0.92rem;
  text-align: center;
  top: -2px;
  transform: translateY(120px);
  opacity: 0;
  transition-duration: var(--card-dura);
  transition-property: transform opacity;
  font-family: var(--fontmain);
}

.lang:hover p {
  transform: translateY(73px);
  opacity: 1;
}

.skills-links-con {
  display: flex;
  position: absolute;
  transform: translateY(90px);
  opacity: 0;
  transition-duration: var(--card-dura);
  transition-property: transform opacity;
  font-family: var(--fontmain);
}

.lang:hover .skills-links-con {
  transform: translateY(42px);
  opacity: 1;
}

.sites-link {
  font-size: 0.8rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background-color: #e9ecf1;
  width: 45px;
  height: 19px;
  margin: 1px 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms background-color ease;
}

.sites-link:hover {
  background-color: #c4c6d3;
}
