*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--fontmain);
}

:root {
  --main-black: #444;
  --main-white: white;
  --main-rollOver: #044ace;
  --main-blue: #187cff;
  --main-yellow: #f0bd4d;
  --main-offwhite: #f0f0f0;
  --pad-top-bot: 80px;
  --anim-slides: cubic-bezier(0.36, 0.11, 0.2, 1);
  --card-dura: 300ms;
  --gen-anim-speed: 100ms;
  --fontmain: "Roboto", sans-serif;
  --maxWidth: 1440px;
}

.underLines {
  width: 145px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 1px;
  margin: 12px 0;
}
