:root {
  --dark-white: hsl(0, 0%, 90%);
  --light-white: hsl(0, 0%, 97%);
  --black: rgb(27, 27, 27);
  --borders: rgba(19, 19, 19, 0.2);
  --shadows: 0px 0px 20px rgba(0, 0, 0, 0.2);
  --font: "Roboto", "sans-serif";
  --anim: transform 180ms ease;
  --navHeight: 65px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

/* Nav start */

#nav-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--light-white);
  border-bottom: 1px solid var(--borders);
  font-size: 0.8rem;
  font-family: var(--font);
  position: fixed;
  z-index: 999;
}

.but-horiz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--navHeight);
}

#logo {
  /* border: 2px dashed red; */
  width: 150px;
  height: 100%;
  position: relative;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Coloring */
li,
a,
.nav-ul,
.socialCon {
  color: var(--black);
}

/* Main nav buttons */
.navi-ul {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px dashed red; */
}

.navi-li {
  /* border: 2px dashed green; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi-li > a {
  /* border: 2px dashed rgb(0, 72, 255); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Social buttons */
.socialCon {
  /* border: 2px dashed blue; */
  width: 150px;
  height: 100%;
  position: relative;
  right: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-links,
.socialIcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-ham-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: var(--navHeight);
}

.ham-bar-con {
  display: hidden;
  position: absolute;
  right: 30px;
}

.logo-ham-con {
  display: none;
}

a:hover {
  color: var(--light-white);
  background-color: var(--black);
}

@media only screen and (max-width: 900px) {
  .but-horiz.hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--navHeight);
    /* border: 2px dashed green; */
  }

  .but-horiz.shown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Controls height of navbar in small screens */
    height: 223px;
    /* border: 2px dashed green; */
  }

  #logo {
    position: absolute;
    top: 0px;
    left: 25px;
    height: var(--navHeight);
    /* border: 2px dashed pink; */
  }

  .socialCon {
    position: relative;
    right: 0;
    /* border: 2px dashed blue; */
  }

  .ham-bar-con {
    position: absolute;
    right: 25px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--navHeight);
    height: var(--navHeight);
    /* border: 2px dashed red; */
  }

  .ham-bar {
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--black);
  }

  .a-bar {
    position: absolute;
    transform: translate(0px, -9px);
    transition: var(--anim);
  }

  .a-bar.aBarActive {
    transform: translate(0px, 0px) rotate(-45deg);
  }

  .b-bar {
    transform-origin: 100% 50%;
    position: absolute;
    transform: translate(0px, 0px) scaleX(1);
    transition: var(--anim);
  }

  .b-bar.bBarActive {
    transform: scaleX(0.001);
  }

  .c-bar {
    position: absolute;
    transform: translate(0px, 9px);
    transition: var(--anim);
  }

  .c-bar.cBarActive {
    transform: translate(0px, 0px) rotate(45deg);
  }

  .but-vert.hidden {
    display: none;
  }

  .but-vert.shown {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navi-ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px dashed red; */
  }

  .navi-li {
    height: 24%;
    /* border: 2px dashed green; */
  }

  .navi-li.hidden {
    display: none;
  }

  li a {
    width: 8rem;
    margin: 0;
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    color: var(--light-white);
    background-color: var(--black);
  }

  .socialCon {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dashed blue; */
  }

  .social-links.hidden {
    display: none;
  }

  .social-links a {
    padding: 0.8rem 0rem;
    width: 4rem;
  }
}

/* Nav end */

/* Section 1 Start */

#section1 {
  width: 100%;
  height: 950px;
  background-color: var(--dark-white);
  position: relative;
  display: flex;
  justify-content: space-around;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
}

.sm-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: rotateZ(-90deg);
  top: 25rem;
  left: -45px;
  z-index: 999;
  font-size: 0.7rem;
}

.scrolling-anim {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
  margin: 0 10px 0 0;
  width: 100px;
  height: 30px;
}

.scroll-box {
  width: 12px;
  height: 10px;
  position: absolute;
  border-radius: 1px;
  z-index: 1000;
  color: red;
}

.scroll-line {
  width: 90px;
  height: 2px;
  z-index: 999;
}

.a-v {
  color: var(--black);
  background-color: var(--black);
}

.a-t {
  color: var(--black);
}

.b-v {
  color: var(--dark-white);
  background-color: var(--dark-white);
}

.b-t {
  color: var(--dark-white);
}

.c-v {
  color: var(--black);
  background-color: var(--black);
}

.c-t {
  color: var(--black);
}

#titleFill {
  text-align: left;
  position: absolute;
  font-size: 4rem;
  transform: translate(110px, 210px);
  font-weight: 700;
  color: var(--black);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 50px rgba(255, 255, 255, 0.1);
}

.lg-num-text {
  position: absolute;
  top: 120px;
  right: 4rem;
  display: flex;
  align-items: flex-start;
}

#port-sm {
  font-size: 0.7rem;
  margin: 0 1.5rem 0 0;
  position: relative;
  top: 12px;
}

.lg-num-01 {
  font-size: 3.5rem;
  font-weight: 900;
}

#smtxtA {
  position: absolute;
  font-size: 0.8rem;
  transform: translate(1rem, 470px);
}

.img-sec1-con-a {
  overflow: hidden;
  width: 500px;
  height: 600px;
  position: absolute;
  transform: translate(-20rem, 190px);
  box-shadow: var(--shadows);
}

.img-sec1-con-b {
  overflow: hidden;
  width: 510px;
  height: 350px;
  position: absolute;
  box-shadow: var(--shadows);
  right: 0;
  bottom: 0;
}

.car-a-img {
  transform: translate(-450px, -546.2px) scale(0.7);
  filter: grayscale(100%);
}

.car-b-img {
  transform: translate(-860px, -590px) scale(0.45);
  filter: grayscale(100%);
}

@media only screen and (max-width: 1210px) {
  .img-sec1-con-a {
    overflow: hidden;
    width: 500px;
    height: 600px;
    position: absolute;
    transform: translate(-150px, 2rem) scale(0.8);
    box-shadow: var(--shadows);
  }

  #smtxtA {
    position: absolute;
    font-size: 0.8rem;
    transform: translate(9rem, 460px);
  }

  .img-sec1-con-b {
    overflow: hidden;
    width: 510px;
    height: 350px;
    position: absolute;
    box-shadow: var(--shadows);
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 895px) {
  /* Hides the mini-scroll bar for entire page */
  .sm-vert {
    display: none;
  }

  .lg-num-text {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #title {
    transform-origin: right;
    transform: scale(0.7);
  }

  .img-sec1-con-a {
    overflow: hidden;
    width: 500px;
    height: 600px;
    position: absolute;
    transform: translate(-50px, 2rem) scale(0.6);
    box-shadow: var(--shadows);
  }

  #smtxtA {
    display: none;
  }

  .img-sec1-con-b {
    transform-origin: bottom right;
    transform: scale(0.8);
    overflow: hidden;
    width: 510px;
    height: 350px;
    position: absolute;
    box-shadow: var(--shadows);
    right: 0;
    bottom: 0;
  }
}

/* Section 1 End */

/* Section 2 Start */

#section2 {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--black);
  padding: 105px 0 105px 0;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
  overflow-x: hidden;
}

.sect2-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.sect2-title {
  color: var(--dark-white);
  font-size: 4.2rem;
  font-weight: 700;
  transform: translate(-50px, 0);
  text-shadow: var(--shadows);
}

.lg-num-02 {
  position: absolute;
  color: var(--dark-white);
  left: 4rem;
  top: 5rem;
  font-size: 3.5rem;
  font-weight: 900;
  text-shadow: var(--shadows);
}

.sect2-work-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect2-work {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
  opacity: 0;
  transition: opacity 1000ms ease;
}

.sect2-work.fadeIn {
  opacity: 1;
}

.sect2-content {
  width: 700px;
  height: auto;
  display: flex;
  align-items: top;
  display: flex;
  justify-content: space-between;
}

.sect2-desc {
  text-shadow: var(--shadows);
}

.sect2-year {
  font-size: 0.9rem;
  color: var(--dark-white);
  margin-bottom: 10px;
}

.sect2-name01 {
  color: var(--dark-white);
}

.arrows {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.line {
  width: 30px;
  height: 1.2px;
  background-color: var(--dark-white);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 4.2px solid transparent;
  border-bottom: 4.2px solid transparent;
  border-left: 4.2px solid var(--dark-white);
}

.car-c-img {
  width: 550px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  filter: grayscale(100%);
}

.img-con {
  width: 550px;
  height: 320px;
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadows);
}

.sect2-work:nth-child(even) {
  transform: translateX(200px);
}

.sect2-work:nth-child(odd) {
  transform: translateX(-200px);
}

.sect2-work {
  transform: scale(0.7);
}

@media only screen and (max-width: 1200px) {
  .lg-num-02 {
    display: none;
  }

  .sect2-work:nth-child(even) {
    transform: translateX(0);
  }

  .sect2-work:nth-child(odd) {
    transform: translateX(0);
  }

  .sect2-work-main .sect2-work {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 595px) {
  .sect2-work-main .sect2-work {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dashed green; */
  }

  .sect2-desc {
    position: absolute;
    transform: translate(75px, -90px);
    /* border: 2px dashed rgb(255, 0, 0); */
  }

  .img-con {
    transform: translate(75px, 0);
    /* border: 2px dashed blue; */
  }

  .arrows {
    display: none;
  }
}

/* Section 2 End */

/* Section 3 start */

#section3 {
  background-color: var(--dark-white);
  width: 100%;
  height: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
}

.about-img {
  width: 330px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  transform: translate(-210px, -160px);
  filter: grayscale(100%);
}

.about-txt {
  width: 300px;
  height: auto;
  position: absolute;
  transform: translate(8rem, -4.5rem);
}

.about-heading {
  font-size: 4rem;
  text-align: right;
  font-weight: 700;
  color: var(--black);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9),
    0 0 50px rgba(255, 255, 255, 0.9);
}

.about-sub {
  font-size: 0.6rem;
  background-color: rgba(230, 230, 230, 0.8);
  width: 165px;
  padding: 5px;
}

.lg-num-03 {
  position: absolute;
  right: 4rem;
  top: 5rem;
  font-size: 3.5rem;
  font-weight: 900;
}

.lg-txt-base {
  position: absolute;
  bottom: -11rem;
  font-size: 25rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 880px) {
  .lg-num-03 {
    display: none;
  }

  .about-img {
    transform: translate(-100px, -160px);
  }
}

@media only screen and (max-width: 550px) {
  .about-heading {
    transform: translate(-100px, 0px);
  }
}

@media only screen and (max-width: 425px) {
  .about-img {
    transform: translate(-30px, -160px);
  }
}

/* Section 3 end */

/* Footer start */

footer {
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-txt {
  font-size: 0.7rem;
}
